a,
a:focus,
a:hover {
  color: #fff;
}

html,
body {
  height: 100%;
  background:url("stardust.png");
}
body {
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
  box-shadow: inset 0 0 100px rgba(0,0,0,.5);
}
.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; 
  min-height: 100%;
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}
.coffee-container {
  margin-right: auto;
  margin-left: auto;
}
.inner {
  padding: 30px;
}
.masthead-brand {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size:30px;
}

.masthead-nav > li {
  display: inline-block;
  margin-top:35px;
}
.masthead-nav > li + li {
  margin-left: 20px;
}
.masthead-nav > li > a {
  padding-right: 0;
  padding-left: 0;
  font-size: 16px;
  font-weight: bold;
  color: #fff; 
  color: rgba(255,255,255,.75);
  border-bottom: 2px solid transparent;
}
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
  background-color: transparent;
  border-bottom-color: rgba(255,255,255,.25);
}
.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
  color: #fff;
  border-bottom-color: #fff;
}

@media (min-width: 768px) {
  .masthead-brand {
    float: left;
  }
  .masthead-nav {
    float: right;
  }
}

.coffee {
  padding: 0 20px;
}
.coffee .btn-lg {
  padding: 10px 20px;
  font-weight: bold;
}
.mastfoot {
  color: #999;
  color: rgba(255,255,255,.5);
}

.carousel-caption {
    color:white;
    font-size:16px;
    text-shadow: black 0px 0px 6px;
    -webkit-font-smoothing: antialiased;
}

@media (min-width: 768px) {
  .masthead {
    position: fixed;
    top: 0;
  }
  .mastfoot {
    position: fixed;
    bottom: 0;
  }
  .site-wrapper-inner {
    vertical-align: middle;
  }
  .masthead,
  .mastfoot,
  .coffee-container {
    width: 100%;
  }
}

@media (min-width: 992px) {
  .masthead,
  .mastfoot,
  .coffee-container {
    width: 700px;
  }
}

.nonpulse {
    color:#0022aa;
    font-size:72px;
}

.pulse {
    -webkit-animation: pulse 4s linear infinite;
    -moz-animation: pulse 4s linear infinite;
    -ms-animation: pulse 4s linear infinite;
    animation: pulse 4s linear infinite;
    font-size:72px;
    color:#FF0033;
    text-shadow: -5px 0 black, 0 5px black, 5px 0 black, 0 -5px black;
}

.pulse_small {
    -webkit-animation: pulse 4s linear infinite;
    -moz-animation: pulse 4s linear infinite;
    -ms-animation: pulse 4s linear infinite;
    animation: pulse 4s linear infinite;
    font-size:42px;
    color:#FF0033;
    text-shadow: -5px 0 black, 0 5px black, 5px 0 black, 0 -5px black;
}

@keyframes "pulse" {
    0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    }
    50% {
    -webkit-transform: scale(0.95);
    -moz-transform: scale(0.95);
    -o-transform: scale(0.95);
    -ms-transform: scale(0.95);
    transform: scale(0.95);
    }
    100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    }
}

@-moz-keyframes pulse {
    0% {
    -moz-transform: scale(1);
    transform: scale(1);
    }
    50% {
    -moz-transform: scale(0.95);
    transform: scale(0.95);
    }
    100% {
    -moz-transform: scale(1);
    transform: scale(1);
    }
}

@-webkit-keyframes "pulse" {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    50% {
        -webkit-transform: scale(0.95);
        transform: scale(0.95);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@-ms-keyframes "pulse" {
    0% {
        -ms-transform: scale(1);
        transform: scale(1);
    }
    50% {
        -ms-transform: scale(0.95);
        transform: scale(0.95);
    }
    100% {
        -ms-transform: scale(1);
        transform: scale(1);
    }
}
